*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    min-height: 100vh;
}
header{
    z-index: 999;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    transition: 0.6s;
}
header.sticky{
    background: #fff;
    padding: 15px 100px;
}

header img{
    height: 70px;
}
header .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center
}
header .menu a{
    font-size: 16px;
    color: #073e91;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 30px;
    padding: 0 10px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: color; background;
}
header .menu a:hover{
    color: #fff;
    background: #073e91;
}
header .btn{
    color: #073e91;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
section{
    display: flex;
    justify-content:center;
    align-items: center;
    max-height: 105vh;
    width: 100%;
}
section h1{
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;
    color: #073e91;
}
#home img{
    background-size: cover;
    width: 100%;
    height: auto;
}
#about img{
    background-size: cover;
    width: 100%;
    height: auto;
}
#placeamachine img{
    background-size: cover;
    width: 100%;
    height: auto;
}
#products img{
    background-size: cover;
    width: 100%;
    height: auto;
}
#machinetypes img{
    background-size: cover;
    width: 100%;
    height: auto;
}
#contactus{
    background-color: #ffffff;
    background-size: cover;
    width: 100%;
    height: auto;
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    color: #073e91;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height:5px;
    background-color: #073e91;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #073e91;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #ffd7f1;
}
.contact-inputs::placeholder{
    color: #073e91;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding:15px 30px;
    font-size: 16px;
    color: #073e91;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background-color: #c6f2ff;
    cursor: pointer;
}
.contact-left button img{
    height: 15px;
}
.contact-right img{
    width: 500px;
}
@media (max-width:800px){
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}
footer{
    text-align: center;
    padding: 5px;
    color: #073e91;
}
img{
    pointer-events: none;
}
@media (max-width:1060px){
    header img{
        height: 40px;
    }

    header .btn{
        display: block; 
    }

    header .menu{
        position: fixed;
        background: #c6f2ff;
        flex-direction:column;
        max-width: 350px;
        height:100vh;
        top: 0;
        right: -100%;
        padding:0;
        transition: 0.5s;
        transition-property: right;
    }
    header .menu.active{
        right: 0;

    header .menu .close-btn{
        position: absolute;
        top: 0;
        left: 0;
        margin: 0px;
    }
    header .menu a{
        display: block;
        font-size: 10px;
        margin: 10px;
        padding:0 15px;

    }
}